.medicCSS{
    background: darkblue;
    color: white;
}

.consultCSS{
    background: rgb(2, 95, 68);
    color: white;
}

.fixedRigth {
    top: auto !important;
    right: 20px !important;
    bottom: 10px !important;
    left: auto !important;
    position: fixed !important;
}

.fixedLeft {
    top: auto !important;
    right: auto !important;
    bottom: 10px !important;
    left: 20px !important;
    position: fixed !important;
}