<mat-dialog-content>
    <mat-toolbar>
        <span>Medic Dialog</span>
    </mat-toolbar>

    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="Primary Name" [(ngModel)]="medic.primaryName">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Surname" [(ngModel)]="medic.surname">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CMP Medic" [(ngModel)]="medic.cmpMedic">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Photo" [(ngModel)]="medic.photo">
        </mat-form-field>

        <img mat-card-image [src]="medic.photo" *ngIf="medic.photo" width="300" height="300">
    </div>

    <button mat-raised-button color="primary" (click)="operate()">
        <mat-icon>done</mat-icon>
        <span>Done</span>
    </button>

    <button mat-raised-button color="accent" type="button" (click)="close()">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>

</mat-dialog-content>
